body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1650px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1650px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5835 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1650px;
  height:800px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u5835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:50px;
}
#u5837 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:30px;
  width:386px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:20px;
}
#u5837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u5840 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:30px;
  width:64px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u5840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u5840_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u5840.selected {
}
#u5840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u5841 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:50px;
  width:16px;
  height:13px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u5841_img.selected {
}
#u5841.selected {
}
#u5841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u5842 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:47px;
  width:1px;
  height:20px;
  display:flex;
}
#u5842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(231, 235, 249, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5844 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:570px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u5844_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(231, 235, 249, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5844.mouseOver {
}
#u5844_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(231, 235, 249, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5844.selected {
}
#u5844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:11px;
}
#u5845 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:584px;
  width:13px;
  height:11px;
  display:flex;
}
#u5845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5845_img.mouseOver {
}
#u5845.mouseOver {
}
#u5845_img.selected {
}
#u5845.selected {
}
#u5845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u5846 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:340px;
  width:475px;
  height:34px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u5846 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 250, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u5848 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:140px;
  width:200px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u5848 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u5849 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:140px;
  width:600px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u5849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u5849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 250, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u5850 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:190px;
  width:200px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u5850 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u5851 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:190px;
  width:600px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u5851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u5851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u5852 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:90px;
  width:1600px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u5852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 250, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u5853 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:140px;
  width:200px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u5853 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u5854 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:140px;
  width:600px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u5854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u5854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 250, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u5855 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:190px;
  width:200px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u5855 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
}
#u5856 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:190px;
  width:600px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:left;
}
#u5856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u5856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  background:inherit;
  background-color:rgba(249, 250, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u5858 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:240px;
  width:200px;
  height:100px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u5858 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5859 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:240px;
  width:1400px;
  height:100px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u5859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u5861 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:264px;
  width:16px;
  height:18px;
  display:flex;
}
#u5861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:80px;
}
#u5862 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:250px;
  width:102px;
  height:80px;
  display:flex;
}
#u5862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
